* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: sticky;
    z-index: 2;
    background-color: white;
    height: 5rem;
    padding: 0.8rem;
    top: 0;
    overflow: hidden; 
}

.right-nav, .nav-logo{
    display: inline;
}

.nav-logo {
    list-style-type: none;
}

#logo {
    margin-left: 10rem;
    padding-top: 10px;
    height: 50px;
    width: 125px;
}

.right-nav {
    margin-right: 10rem;
    float: right;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 2.5rem;
}


.nav {
    display: inline;
    margin: 15px;
    padding: 2px;
}

.tuitt-button, .apply-button {
    background-color: #c2195b;
    border: none;
}

.tuitt-button{
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: .8rem 1.5rem .8rem 1.5rem;
    margin-right: -3rem;
    overflow: hidden;
}

.tuitt-button:hover {
    font-weight: bold;
    background-color: royalblue;
    color: white;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: .8rem 1.5rem .8rem 1.5rem;
    margin-right: -3rem;
    overflow: hidden;
}

.apply-button {
    font-weight: bold;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    padding: 1rem 4rem 1rem 4rem;
    overflow: hidden;
}

.apply-button:hover {
    font-weight: bold;
    background-color: royalblue;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    padding: 1rem 4rem 1rem 4rem;
    overflow: hidden;
}

.container {
    margin-right: 10rem;
    border: none;
    z-index: 1;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    height: 49.5vh;
    background-size: 100%;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
    border: none;
    overflow: hidden;
}

.front-bg {
    background-color: rgb(0, 0, 0, 0.5);
    height: 49.5vh;
    position: relative;
}


.title {
    font-family: 'Zilla Slab';
    text-align: right;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    height: 150px;
    width: 700px;
    margin-bottom: -1rem;
}

.subtitle {
    text-align: right;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: semi-condensed;
    letter-spacing: 0;
    height: 200px;
    width: 500px;
    color: white;
    margin-bottom: -1rem;
}

.title-2 {
    font-family: 'Zilla Slab';
    text-align: center;
}

.intro{
    overflow: hidden;
}

.intro > .title-2 {
    height: 15vh;
    font-size: 2.5rem;
    font-weight: bold;
}

.intro-description {
    margin-right: 20rem;
    margin-left: 20rem;
    height: 8vh;
    text-align: justify;
    font-size: 1rem;
    letter-spacing: .5px;
    margin-bottom: 10vh;
}

.pre-footer {
    background-color: #f7fbfb;
    text-align: center;
    overflow: hidden;
}

.pre-footer > .title-2 {
    margin-top: 10vh;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}

.prefooter-description {
    margin-top: 8vh;
    margin-right: 25rem;
    margin-left: 25rem;
    height: 8vh;
    text-align: center;
    font-size: 1rem;
    letter-spacing: .5px;
    margin-bottom: .5vh;
    overflow: hidden;
}

.book-button {
    background-color: #336589;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    padding: 1rem 4rem 1rem 4rem;
    border: none;
    margin-bottom: 2rem;
}

.book-button:hover {
    background-color: royalblue;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    padding: 1rem 4rem 1rem 4rem;
    border: none;
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    overflow: hidden;
}

.foot {
   padding: 1rem 1rem .2rem 1rem; 
}